# =================
#     Airflow 
# =================
AIRFLOW_UID=50000
AIRFLOW_PROJ_DIR=.
AIRFLOW__CORE__FERNET_KEY=
AIRFLOW__API_AUTH__JWT_SECRET=
AIRFLOW__CORE__SECRET_KEY=

# =================
#   Steam-Twitch 
# =================
AIRFLOW_VAR_STEAM_API_KEY=
AIRFLOW_VAR_TWITCH_CLIENT_ID=
AIRFLOW_VAR_TWITCH_CLIENT_SECRET=

# =================
#    DATABRICKS
# =================
AIRFLOW_VAR_DATABRICKS_HOST=
AIRFLOW_VAR_DATABRICKS_TOKEN=
